# Environment
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/geobuk_mock?schema=public"

# Server
PORT=3001

# Authentication (JWT)
# IMPORTANT: Change this secret in production and keep it same across all services (Hub, Susi, Jungsi, ExamHub)
AUTH_SECRET=your-secret-key-here













